parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Api\\V1\\AuditLogResource\:\:\$auditable_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Api/V1/AuditLogResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Api\\V1\\AuditLogResource\:\:\$auditable_type\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Api/V1/AuditLogResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Api\\V1\\AuditLogResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Api/V1/AuditLogResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Api\\V1\\AuditLogResource\:\:\$event\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Api/V1/AuditLogResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Api\\V1\\AuditLogResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Api/V1/AuditLogResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Api\\V1\\AuditLogResource\:\:\$ip_address\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Api/V1/AuditLogResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Api\\V1\\AuditLogResource\:\:\$new_values\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Api/V1/AuditLogResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Api\\V1\\AuditLogResource\:\:\$old_values\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Api/V1/AuditLogResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Api\\V1\\AuditLogResource\:\:\$updated_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Api/V1/AuditLogResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Api\\V1\\AuditLogResource\:\:\$url\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Api/V1/AuditLogResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Api\\V1\\AuditLogResource\:\:\$user\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Api/V1/AuditLogResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Api\\V1\\AuditLogResource\:\:\$user_agent\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Api/V1/AuditLogResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\Api\\V1\\AuditLogResource\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/Api/V1/AuditLogResource.php

		-
			message: '#^PHPDoc tag @mixin contains non\-object type stdClass\.$#'
			identifier: mixin.nonObject
			count: 1
			path: app/Http/Resources/Api/V1/DashboardResource.php

		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Resources/Api/V1/UserResource.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Http/Resources/Api/V1/UserResource.php

		-
			message: '#^Using nullsafe property access on non\-nullable type string\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Resources/Api/V1/UserResource.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:createAuditLog\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: app/Models/Permission.php

		-
			message: '#^Call to an undefined static method App\\Models\\Permission\:\:restored\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Models/Permission.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:createAuditLog\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: app/Models/Role.php

		-
			message: '#^Call to an undefined static method App\\Models\\Role\:\:restored\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Models/Role.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:createAuditLog\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: app/Models/User.php

		-
			message: '#^Access to an undefined property App\\Models\\AuditLog\:\:\$total\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Dashboard/DashboardService.php

		-
			message: '#^Access to an undefined property App\\Models\\User\:\:\$total\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/Dashboard/DashboardService.php

		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Services/Dashboard/DashboardService.php

		-
			message: '#^Instanceof between string and App\\Enums\\AuditEvent will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Services/Dashboard/DashboardService.php

		-
			message: '#^Method App\\Services\\Role\\RoleService\:\:permissions\(\) should return Illuminate\\Database\\Eloquent\\Collection\<int, App\\Models\\Permission\> but returns Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\.$#'
			identifier: return.type
			count: 1
			path: app/Services/Role/RoleService.php

		-
			message: '#^Method App\\Services\\User\\UserService\:\:ensureCanDeleteUser\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: app/Services/User/UserService.php
